<%-include('header')-%>
    <div class="box">
        <h1 id="heading"><%=today%></h1>
    </div>
    <div class="box">
        <% for(var i=0; i<items.length; i++) { %>
        <div class="item">
                <input type="checkbox"> <p><%=items[i]%></p>
        </div>
        <% } %>
        <form action="/" method="post" class="item">
            <input type="text" name="addItem" placeholder="Add item" autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div>
<%-include('footer')-%>
